:root {
  --baseBgColor: #f8f9fb;
  --baseColor: #0a0a0a;
  --baseFontFamily: 'Montserrat';
  --baseFontFamilyFallback: sans-serif;
  --baseFontSize: 1.125rem;
  --baseFontWeight: 300;
  --baseLineHeight: 1.75;

  --colorPrimary: #b77c3a;

  --borderColor: #bdbdbd;
  --borderHoverColor: color(var(--borderColor), darkness(20%));
}
