<footer class="site__footer text--center" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">

  <div class="grid">

    <p class="site__footer__copyright">Handcrafted with <svg class="icon"><use xlink:href="assets/images/<%= rev['icons.svg'] %>#heart" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg> in Germany</p>

    <nav class="navigation navigation--footer navigation--inline">
      <ul>
        <li>
          <a href="imprint" title="Imprint">Imprint</a>
        </li>
        <li>
          <a href="privacy-policy" title="Privacy Policy">Privacy Policy</a>
        </li>
      </ul>
    </nav>

  </div>

</footer>
