<head>
  <meta charset="utf-8">
  <title><%= page.title %></title>
  <meta content="ie=edge" http-equiv="x-ua-compatible">
  <base href="/">

  <meta content="My name is Marco and and I'm Front-End Webdeveloper & Graphic Designer. I love designing and devloping rich web applications with user experience in mind." name="description">

  <meta content="Marco Biedermann | Frontend Webdeveloper & Graphic Designer" name="application-name">
  <meta content="Marco Biedermann | Frontend Webdeveloper & Graphic Designer" name="apple-mobile-web-app-title">
  <meta content="width=device-width,initial-scale=1" name="viewport">

  <meta content="My name is Marco and and I'm Front-End Webdeveloper & Graphic Designer. I love designing and devloping rich web applications with user experience in mind." property="og:description">
  <meta content="Marco Biedermann | Frontend Webdeveloper & Graphic Designer" property="og:site_name">
  <meta content="Marco Biedermann | Frontend Webdeveloper & Graphic Designer" property="og:title">
  <meta content="website" property="og:type">
  <meta content="https://www.marcobiedermann.com/" property="og:url">

  <meta name="twitter:creator">
  <meta content="My name is Marco and and I'm Front-End Webdeveloper & Graphic Designer. I love designing and devloping rich web applications with user experience in mind." name="twitter:description">
  <meta content="@m412c0b" name="twitter:site">
  <meta content="Marco Biedermann | Frontend Webdeveloper & Graphic Designer" name="twitter:title">
  <meta content="https://www.marcobiedermann.com/" name="twitter:url">

  <link href="manifest.json" rel="manifest">

  <link href="https://plus.google.com/+MarcoBiedermann" rel="author">
  <link href="https://plus.google.com/+MarcoBiedermann" rel="publisher">

  <meta content="#0a0a0a" name="theme-color">

  <script>
    (function(documentElement) {
      documentElement.className = documentElement.className.replace(/\bno-js\b/, 'js')
      addEventListener('error', window.__e=function f(e){f.q=f.q||[];f.q.push(e)});
    }(document.documentElement));
  </script>
  <script async src="https://www.google-analytics.com/analytics.js"></script>

  <link href="assets/css/<%= rev['style.css'] %>" rel="preload" as="style">
  <link href="assets/css/<%= rev['style.css'] %>" rel="stylesheet">

  <meta content="favicon-128x128.png">
  <link href="apple-touch-icon-precomposed.png" rel="icon">
  <link href="apple-touch-icon-precomposed.png" rel="apple-touch-icon-precomposed">
  <link href="favicon.svg" rel="mask-icon" color="#0a0a0a">
</head>
