<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">

<%- partial('../../partials/layout/head', {
  page: {
    title: 'Imprint'
  }
}) %>

<body>

  <%- partial('../../partials/layout/header') %>

  <div class="site__container">

    <main class="site__main" role="main" itemscope itemprop="mainContentOfPage">

      <div id="barba-wrapper">

        <div class="barba-container">

          <section class="site__section">

            <div class="grid">

              <h1>Imprint</h1>
              <h2>Angaben gemäß § 5 TMG:</h2>
              <h3>Kontakt:</h3>

              <address itemscope itemtype="http://schema.org/Person">
                <p><strong itemprop="name"><span itemprop="givenName">Marco</span> <span itemprop="familyName">Biedermann</span></strong><br>
                &#65;&#108;&#x74;&#x65;&#114;&#x20;&#x4f;&#223;&#x77;&#101;&#x69;&#108;&#x65;&#x72;&#x20;&#x57;&#x65;&#x67;&#x20;&#x36;&#x32;<br>
                &#55;&#x31;&#54;&#51;&#56;&#x20;&#x4c;&#117;&#100;&#119;&#x69;&#x67;&#115;&#x62;&#117;&#x72;&#x67;<br>
                &#68;&#101;&#117;&#116;&#115;&#99;&#104;&#108;&#x61;&#110;&#x64;<br>
                <a href="mailto:&#x68;&#101;&#x6c;&#x6c;&#111;&#64;&#109;&#x61;&#x72;&#x63;&#111;&#x62;&#105;&#101;&#100;&#101;&#114;&#109;&#x61;&#110;&#x6e;&#x2e;&#99;&#x6f;&#109;">&#x68;&#101;&#x6c;&#x6c;&#111;&#64;&#109;&#x61;&#x72;&#x63;&#111;&#x62;&#105;&#101;&#100;&#101;&#114;&#109;&#x61;&#110;&#x6e;&#x2e;&#99;&#x6f;&#109;</a></p>
              </address>

              <h2>Haftungsausschluss</h2>
              <h3>Haftung für Inhalte</h3>
              <p>Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p>
              <h3>Haftung für Links</h3>
              <p>Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.</p>
              <h3>Urheberrecht</h3>
              <p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.</p>
              <h2>Resources</h2>

              <div class="grid__row">

                <div class="grid__col grid__col--4">

                  <h3>Fonts</h3>
                  <p><a href="//www.google.com/fonts/specimen/Montserrat" target="_blank" title="Montserrat Font by Julieta Ulanovsky on Google">Montserrat</a> by Julieta Ulanovsky</p>

                </div>

                <div class="grid__col grid__col--4">

                  <h3>Icons</h3>
                  <p>Social Icons, Menu, Arrow by <a href="//iconmonstr.com/" target="_blank" title="Icons by Iconmonstr">Iconmonstr</a></p>

                </div>

                <div class="grid__col grid__col--4">

                  <h3>Mockups</h3>
                  <p><a href="//www.pixeden.com/psd-mock-up-templates/cinema-display-psd-mockup" target="_blank" title="iMac Mockup on Pixeden">iMac</a>, <a href="//www.pixeden.com/psd-mock-up-templates/psd-ipad-air-perspective-mockup" target="_blank" title="iPad Mockup on Pixeden">iPad</a>, <a href="//www.pixeden.com/psd-mock-up-templates/3-4-iphone-6-psd-vector-mockup-part-2" target="_blank" title="iPhone Mockup on Pixeden">iPhone</a> by Pixeden</p>

                </div>

              </div>

              <div class="grid__row">

                <div class="grid__col grid__col--4">

                  <h3>Host</h3>
                  <p>Hosted with <a href="//pages.github.com/" target="_blank" title="GitHub Pages">GitHub Pages</a></p>

                </div>

                <div class="grid__col grid__col--4">

                  <h3>SSL</h3>
                  <p>SSL via <a href="//www.cloudflare.com/" target="_blank" title="CloudFlare">CloudFlare</a></p>

                </div>

              </div>

            </div>

          </section>

        </div>

      </div>

    </main>

  </div>

  <%- partial('../../partials/layout/footer') %>

  <%- partial('../../partials/layout/scripts') %>

</body>
</html>
