<ul class="logos list--unstyled">
  <li>
    <a href="projects/fildorado"><img src="content/images/projects/logos/fildorado.svg" alt="" width="140"></a>
  </li>
  <li>
    <a href="projects/fixtreme"><img src="content/images/projects/logos/fixtreme.svg" alt="" width="50"></a>
  </li>
  <li>
    <a href="projects/german-council-of-shopping-centers"><img src="content/images/projects/logos/german-council-of-shopping-centers.svg" alt="" width="140"></a>
  </li>
  <li>
    <a href="projects/hochzeitsmesse-traumhochzeit"><img src="content/images/projects/logos/hochzeitsmesse-traumhochzeit.svg" alt="" width="140"></a>
  </li>
  <li>
    <a href="projects/hotel-adler-asperg"><img src="content/images/projects/logos/hotel-adler-asperg.svg" alt="" width="80"></a>
  </li>
  <li>
    <a href="projects/kinderwunschzentrum-ludwigsburg"><img src="content/images/projects/logos/kinderwunschzentrum-ludwigsburg.svg" alt="" width="190"></a>
  </li>
  <li>
    <a href="projects/metabolic-balance"><img src="content/images/projects/logos/metabolic-balance.svg" alt="" width="140"></a>
  </li>
  <li>
    <a href="projects/metabolic-balance-academy"><img src="content/images/projects/logos/metabolic-balance-seminare.svg" alt="" width="140"></a>
  </li>
  <li>
    <a href="projects/performance-tooling-today"><img src="content/images/projects/logos/perf-tooling.svg" alt="" width="110"></a>
  </li>
  <li>
    <a href="projects/schwabenprint"><img src="content/images/projects/logos/schwabenprint.svg" alt="" width="140"></a>
  </li>
  <li>
    <a href="projects/visit-usa"><img src="content/images/projects/logos/visit-usa.svg" alt="" width="110"></a>
  </li>
  <li>
    <a href="projects/wirsing-rechtsanwaelte"><img src="content/images/projects/logos/wirsing-rechtsanwaelte.svg" alt="" width="140"></a>
  </li>
  <li>
    <a href="projects/wissenszentrum-energie"><img src="content/images/projects/logos/wissenszentrum-energie.svg" alt="" width="160"></a>
  </li>
</ul>
