<!DOCTYPE html>
<html class="no-js" lang="en" itemscope itemtype="http://schema.org/WebPage">

<%- include('../partials/layout/head', {
  page: {
    title: 'Marco Biedermann | Frontend Webdeveloper & Graphic Designer'
  }
}); %>

<body>

  <%- include('../partials/layout/scripts'); %>

</body>
</html>
