.animate {
  animation-duration: 0.75s;
  animation-fill-mode: both;
}

.animate--infinite {
  animation-iteration-count: infinite;
}

.animate--delay {
  animation-delay: 0.75s;
}

@keyframes slideInUp {

  0% {
    opacity: 0;
    transform: translateY(40%);
    visibility: visible;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }

}

.animate--slideInUp {
  animation-name: slideInUp;
}

@keyframes upDown {

  0%,
  100% {
    transform: translateY(-15px);
  }

  50% {
    transform: translateY(0);
  }

}

.animate--upDown {
  animation-name: upDown;
}
