:root {
  --buttonBgColor: transparent;
  --buttonColor: #f8f9fb;
  --buttonPaddingHorizontal: 1rem;
  --buttonPaddingVertical: 0.5rem;

  --buttonHoverBgColor: color(var(--buttonBgColor) blackness(10%));
  --buttonHoverColor: color(var(--buttonColor) blackness(10%));
}

button {
  background: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  overflow: visible;
  padding: 0;
  text-transform: none;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button {
  background-color: var(--buttonBgColor);
  color: var(--buttonColor);
  display: inline-block;
  overflow: hidden;
  padding: var(--buttonPaddingVertical) var(--buttonPaddingHorizontal);
  position: relative;
  z-index: 1;
}

.button:focus,
.button:hover {
  background: var(--buttonHoverBgColor);
  color: var(--buttonHoverBgColor);
}

.button:active {
  transform: scale(1.01);
}

.button::after {
  content: '';
  height: 320%;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg) scaleY(0);
  transition: transform 0.3s, opacity 0.3s;
  width: 100%;
  z-index: -1;
}

.button:focus::after,
.button:hover::after {
  opacity: 1;
  transform: translate(-50%, -50%) rotate(45deg) scaleY(1);
}

.button--light {
  border: 1px solid;
  color: #f8f9fb;
}

.button--dark,
.button--light:focus,
.button--light:hover {
  color: #0a0a0a;
}

.button--light::after {
  background-color: #f8f9fb;
}

.button--dark {
  border: 1px solid #0a0a0a;
}

.button--dark:focus,
.button--dark:hover {
  color: #f8f9fb;
}

.button--dark::after {
  background-color: #0a0a0a;
}
