.headline--lined {
  position: relative;
  text-align: center;
}

.headline--lined::after {
  background-color: #0a0a0a;
  bottom: 0;
  content: '';
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 9rem;
}
