:root {
  --paginationLinkPaddingHorizontal: 0.5rem;
  --paginationLinkPaddingVertical: 0.25rem;
}

.pagination {
  list-style: none;
  margin: 0 -0.5rem 1.5rem;
  padding: 0;
  text-align: center;
}

.pagination li {
  display: inline-block;
  margin: 0 0.5rem;
}

.pagination a {
  border: 1px solid #0a0a0a;
  color: #0a0a0a;
  display: block;
  padding: var(--paginationLinkPaddingVertical) var(--paginationLinkPaddingHorizontal);
  position: relative;
  width: 140px;
}

.pagination a:active {
  transform: scale(1.01);
}

.pagination a::before {
  background: 50%/100% no-repeat;
  content: '';
  height: 1rem;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  transition: opacity 0.3s, transform 0.3s;
  width: 1rem;
}

.pagination__previous a::before {
  background-image: url('../images/arrow-left.svg');
  right: 75%;
}

.pagination__next a::before {
  background-image: url('../images/arrow-right.svg');
  left: 75%;
}

.pagination a:focus::before,
.pagination a:hover::before {
  opacity: 1;
}

.pagination__previous a:focus::before,
.pagination__previous a:hover::before {
  transform: translate(-50%, -50%);
}

.pagination__next a:hover::before {
  transform: translate(50%, -50%);
}
