<!DOCTYPE html>
<html class="no-js" lang="en" itemscope itemtype="http://schema.org/WebPage">

<%- include('../../../../partials/layout/head', {
  page: {
    title      : 'Daily UI | #025 | TV App',
    description: 'Daily UI Challenge Day #025 | TV App',
    url        : 'daily-ui/025-tv-app'
  },
  og: {
    image: 'tv-app-facebook.png'
  }
}); %>

<body>

  <%- include('../../../../partials/layout/header'); %>

  <div class="site__container">

    <main class="site__main" role="main" itemscope itemprop="mainContentOfPage">

      <div id="barba-wrapper">

        <div class="barba-container">

          <section class="site__section text--center">

            <div class="grid">

              <article class="project" itemscope itemtype="http://schema.org/CreativeWork">

                <h1 itemprop="name">Daily UI | #025 | TV App</h1>

                <figure>
                  <picture>
                    <source data-srcset="content/images/projects/daily-ui/025-tv-app/tv-app-ipad.webp" type="image/webp">
                    <img data-src="content/images/projects/daily-ui/025-tv-app/tv-app-ipad.png" class="lozad" width="800" height="600" alt="">
                  </picture>

                  <noscript>
                    <picture>
                      <source srcset="content/images/projects/daily-ui/025-tv-app/tv-app-ipad.webp" type="image/webp">
                      <img src="content/images/projects/daily-ui/025-tv-app/tv-app-ipad.png" width="800" height="600" alt="">
                    </picture>
                  </noscript>
                </figure>

                <figure>
                  <picture>
                    <source data-srcset="content/images/projects/daily-ui/025-tv-app/tv-app.webp" type="image/webp">
                    <img data-src="content/images/projects/daily-ui/025-tv-app/tv-app.png" class="lozad" width="800" height="600" alt="">
                  </picture>

                  <noscript>
                    <picture>
                      <source srcset="content/images/projects/daily-ui/025-tv-app/tv-app.webp" type="image/webp">
                      <img src="content/images/projects/daily-ui/025-tv-app/tv-app.png" width="800" height="600" alt="">
                    </picture>
                  </noscript>
                </figure>

                <p><a href="//www.paywithapost.de/pay?id=ca13b999-b05a-4e94-b0d6-6cd3cc4a5eb0" class="button button--dark" target="_blank" rel="noopener">Download</a></p>

              </article>

              <ul class="pagination">
                <li class="pagination__previous"><a href="projects/daily-ui/024-boarding-pass/" rel="prev">previous</a></li>
                <li class="pagination__next"><a href="projects/daily-ui/026-subscribe/" rel="next">next</a></li>
              </ul>

            </div>

          </section>

        </div>

      </div>

    </main>

  </div>

  <%- include('../../../../partials/layout/footer'); %>

  <%- include('../../../../partials/layout/scripts'); %>

</body>
</html>
